{{>header}}

<body>
    <div class="main_container">
        <div class="welcome_msg">
            <h1>Polya, thats for tebya</h1>
        </div>
        <a class="linkToAcc"href="/addaccount">Move to add accounts</a>
        <a class="linkToDB"href="/database">Move to DB</a>
        
    </div>
</body>

{{>footer}}