/* You can use html, body { height: 100% } for a 100vh solution across devices. */

* {
    padding: 0;
    margin: 0;   
}

html, body{
    height: 100%;
}
a:link{
    text-decoration: none;
}
h1{
    font-family: 'Playfair Display', serif;
}
/* main page */
.main_container{
    margin: auto;
}


/* Width of screen becomes lower = increase width % of left side and decrease width % of right! With animejs  */

.rightSide{
    position: relative;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 70%;
    background-image: url("/static/img/background.jpg");
    margin-left: 30%;
}

.rightSide::after{
    content: "";
    background: black;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    position: absolute;
    left:0
}


.leftSide{
    text-align: left;
    margin: auto;
    height : 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 30%;
    float: left;
    background: linear-gradient(to left, #e66465, #9198e5);

}

.wrapper{
    margin: 50px 0px 0px 42px;
}

.welcome_msg{
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 24px;
    margin-top: 48px;
    margin-bottom: 24px;
    color: rgb(33, 49, 60);
    letter-spacing: 0.03em
}


.welcome_msg .letter {
    display: inline-block;
    line-height: 1em;
  }

.login_button{
    margin-top: 5%;
}

.login_button:hover{
    color: #0056b3;

}

.login_form{
    margin-top: 35%;
    margin-bottom: 24px; 
}

.form-control_index{
    width: 75%;

}

.link {
	box-shadow:inset 0px 1px 0px 0px #e184f3;
	background:linear-gradient(to bottom, #9198e5  30%, #e66465 70%);
	background-color:#c123de;
	border-radius:6px;
	border:1px solid #a511c0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9b14b3;
}
.link:hover {
	background:linear-gradient(to right, #e66465 5%, #9198e5 100%);
    background-color:#a20dbd;
    border-color: #000000;
    color: #C7C4AE;
}
.link:active {
	position:relative;
	top:1px;
}
.label_guest_mode{
    display: block;
    margin-bottom: 5px;
}
.guest_mode{
    margin-top: 10%;
}

.footer{
    margin-top: 30%;
    text-align: center;
}

.hr_line{
    width: 60%;
    margin: 2rem auto;
}
.left_heart{
    display: none !important;
}

@media (max-width: 1500px){
    .link{
        margin-top: 10%;
    }
    .hearts{
        display: none !important;
    }
    
}

@media(max-height: 830px){
    .login_form{
        margin-top: 5% !important;
    }
    .hr_line{
        margin: 0.5rem auto;
    }
    .letter{
        font-size: 2rem;
    }
    .link{
        margin-top: 5%;
    }
}


@media (max-width: 1000px){
    .login_form{
        margin-top: 10%;
    }
    .login_button{
        margin-top: 2.5%;
    }
    .welcome_msg{
        text-align: center;
    }
    .form-control_index{
        width: 40%;
    }
    .rightSide{
        display: none;
    }
    .leftSide{
        width: 100%;
    }
    .guest_mode_text{
        font-size: 20px !important;
    }
    #guest_mode_link{
        padding: 3px 12px !important;
        margin-top: 2.5%;
    }
    .footer{
        margin-top: 0;
    }
}


