.header_db{
    position: relative;
    /*background: linear-gradient(#9198e5, #e66465); */
    background: radial-gradient(50% 30% at bottom,#C12600,#e66465, #9198e5);
    text-align: center;
}


.wrapper_header{
    position: relative;
    z-index: 5;
}

.linkInDB{
    color:black;
    display: inline;
    margin: 10%;
}
.linkInDB:hover{
    color:#FF851B;
}
.mainTable{
    margin-bottom: 2rem;
}
.search{
    padding: 15px 5;
}
.find{
    margin-left: 1.5%;
}
.finder{
    margin: 1.5% 10px;
}
.viewDBB{
    text-align: left;
}

.link{
    background:radial-gradient(70% 70% at bottom right, #e66465, #9198e5) !important;
}

.link:hover{
    background: radial-gradient(70% 70% at top left, #e66465, #9198e5) !important;;
}

#deleteButton{
    display: inline;
    padding: 2px;
    border: none;
}

#deleteForm{
  display: inline;
}

.imgInAddition{
    display: inline;
    border: none;
}

.imgInAddition:hover{
    cursor: pointer;
}

#hiddenComment{
    top: 20vh;
    left: 50vh;
    display: none;
    opacity: hidden;
    position: fixed;
    width: 900px;
    height: 300px;
    z-index: 5;
    border: solid 2px black;
    background-color: rgba(255,255,255, 0.8);
    border-radius: 25px;
}



#hiddenP{
    padding: 5%;
    font-weight: bold;
}

#hiddenDelete{
    top: 20vh;
    left: 50vh;
    display: none;
    position: fixed;
    width: 900px;
    height: 300px;
    z-index: 5;
    border: solid 2px black;
    background-color: rgba(255,255,255, 0.8);
    border-radius: 25px;
}
#hiddenDel{
    padding: 5%;
    font-weight: bold;
}
.rightButton{
    margin-bottom: 15px;
    margin-right: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 50px;
    width: 200px;
}

.leftButton{
    margin-bottom: 15px;
    margin-left: 20px;
    height: 50px;
    width: 200px;
    position: absolute;
    bottom: 0;
    left: 0;

}


@media (max-width: 1500px){
    .link{
        margin-top: 1% !important;
    }
    .left_heart{
        display: none;
    }
}

@media (max-width: 640px){
    .linkInDB{
        display: block;
        margin: 5%;
    }
    .finder{
        margin: 5% 10px;
    }
}