{{>header}}

<body>
    <div id="page-preloader">
        <div class="spinner"></div>
    </div>
    <div class="main_container">
        <div class="leftSide" id="left_side">
            <div class="wrapper">
                <div class="welcome_msg">
                    <h1 class="title"><span class="hearts">&#10084</span> Polya, thats for tebya <span class="hearts">&#10084</span></h1>
                    <hr class="hr_line">
                </div>
                <div class="login_form" id="test_id">
                    <form action="/users/login" method="POST" id="login_form_ajax">
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control form-control_index" name="email" id="email" placeholder="Enter email" required="true">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control form-control_index" name="password" id="password"
                                placeholder="Password" required="true">
                        </div>
                        <p id="information_under_login_form" style="color: #FF0000; font:bold;"></p>
                        <button type="submit" class="btn btn-primary link login_button">Login</button>
                    </form>
                </div>
                <div class="guest_mode">
                    <label class="label_guest_mode" for="guest_mode_link">If you just want to take a look at DB</label>
                    <a class="link" id="guest_mode_link" href="/database">
                        <h4 class="guest_mode_text">Guest mode</h4>
                    </a>
                </div>
                <div class="footer">
                    <hr class="hr_line">
                    <p>Created(actually still in the works) by V.V 2020</p>
                    <a class="github_icon" href="https://github.com/OnlyAltOne" target="blank"><img class="github_icon" src="/static/img/github.png" alt="github"></a>
                </div>
            </div>

        </div>
        <div class="rightSide"></div>


    </div>
</body>
<script src="/static/js/index.js"></script>
{{>footer}}