{{>header}}

<body>
    <div class="main_container">
        <div class="welcome_msg">
            <h1 class="title">Polya, thats for tebya</h1>
        </div>
        <div class="links">
            <a class="link" href="/addaccount">
                <h3 class="h3InLinks">Move to add accounts</h3>
            </a>
            <a class="link" href="/database">
                <h3 class="h3InLinks">Move to DB</h3>
            </a>
        </div>


    </div>
</body>

{{>footer}}